<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>webpack 4 quickstart</title>

{% block header %}{% endblock %}

</head>
<body>

{% block body %}{% endblock %}

{% block footer %}{% endblock %}

</body>
</html>
